[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
python-decouple = "*"
django-extensions = "*"
djangorestframework = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
